body{
  margin: 0;
  padding: 0;
  background-image: url("img/winter.jpg");
  background-size: cover;

}
.signin{
width: 30%;
height: 500px;
/*top: 50%;
left: 50%;
transform: translate(-50%,-50%);
position: absolute;*/
margin: 5% auto;
background: rgba(0,0,0,0.5);
border: 2px solid #ddd;
box-shadow: 0 15px 30px rgba(0,0,0,0.5);
}
.user {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	/* overflow: hidden; */
	margin-left: 30%;
	margin-top: -20%;
}
h2{
  text-align: center;
  color: #fff;
}
.form{
  padding: 0 40px;
}
.form p{
  color: #fff;
}
.form input{
  width: 100%;
  margin-bottom: 10px;
}
.form input[type="text"] {
	border: none;
	background: transparent;
	/* outline: none; */
	border-bottom: 2px solid #fff;
  height: 35px;
  color: #fff;
}
.form input[type="text"]:focus {
	border-bottom: 2px solid #fdd409;
	transition: .5s;
}
.form input[type="submit"] {
border: none;
	outline: none;
height: 40px;
border-radius: 20px;
  cursor: pointer;
  margin-top: 5px;
  text-transform: uppercase;
background: rgba(255, 255, 255, 0.6);
}

.form input[type="submit"]:hover {
background: transparent;
color: #fff;
border: 2px solid #fff;

}
